.h2 {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  margin: 20px 0;
}
.quote {
  font-size: 18px;
  text-align: right;
  box-shadow: 2px 2px 2px 1px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
}
.container {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
}
.nav {
  background-color: hsl(115, 100%, 88%);
  padding: 20px;
  border-radius: 10px;
}
.section {
  background-color: hsl(184, 100%, 82%);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
