@mixin grid {
  display: grid;
  gap: 20px;
  max-width: 1400px;
  justify-content: center;
}
@mixin h3 {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
}
.main {
  background-color: hsl(48, 61%, 83%);
  padding: 20px;
  border-radius: 20px;
  max-width: 1400px;
}
