@mixin grid {
  display: grid;
  gap: 20px;
  max-width: 1400px;
  justify-content: center;
}
@mixin h3 {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
}
.main {
  background-color: hsl(48, 61%, 83%);
  padding: 20px;
  border-radius: 20px;
  max-width: 1400px;
}

.container2 {
  @include grid;
  max-width: 1400px;
  padding: 0 40px;
  grid-template-areas: "sofa_img message";
  & h3 {
    @include h3;
    padding-bottom: 15px;
  }
  & p {
    font-size: 15px;
    font-style: italic;
    padding: 0 20px;
  }
  margin-bottom: 40px;
}
.my_data {
  @include h3;
}
.button {
  @include grid;
  background-color: bisque;
}
.sofa_img {
  grid-area: sofa_img;
}

.message {
  border-radius: 20px;
  grid-area: message;
  box-shadow: 3px 3px 3px hsl(300, 23%, 49%);
  background-color: hsl(160, 72%, 75%);
}
.discounts {
  @include h3;
}
.container3 {
  @include grid;
  margin: 40px 0 40px 0;
  gap: 130px;
  & .chair_discounts {
    grid-column: 1 / 2;
  }
  & .sofa_discounts {
    grid-column: 2 / 3;
  }
}

@media (max-width: 1399px) {
  .container3 {
    & .sale_img {
      display: flex;
      justify-content: flex-end;
    }
  }
}
