@mixin body {
  background-color: hsl(48, 61%, 83%);
  padding: 20px;
  border-radius: 20px;
  max-width: 1400px;
}
.container {
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper {
  @include body;
}
