@mixin grid {
  display: grid;
  gap: 20px;
  max-width: 1400px;
  justify-content: center;
}
@mixin h3 {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
}
$fs18: 18px;

.container1 {
  font-size: 15px;
  @include grid;
  grid-template-areas:
    "chair1 chair2  chair3"
    "sofa1  sofa1   sofa1 ";
  grid-auto-columns: minmax(50px, 400px);
}
div img {
  max-width: 100%;
  max-height: 100%;
}
.h3_container1 {
  @include h3;
  margin: 50px 0 30px 0;
}
.chair1 {
  grid-area: chair1;
}
.chair2 {
  grid-area: chair2;
}
.chair3 {
  grid-area: chair3;
}
.sofa1 {
  grid-area: sofa1;
}
.container,
.mainsofa {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 86%);
  box-shadow: 1px 1px 2px 1px hsl(256, 85%, 87%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer,
.mainsofa {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  .name {
    font-size: $fs18;
    font-weight: bold;
  }
  .price {
    font-size: $fs18 + 6px;
    font-weight: bold;
    color: hsl(0, 5%, 17%);
  }
  .fav {
    margin-top: 12px;
  }
  .cartadd {
    margin: 3px 0 0 20px;
  }
  button {
    background-color: hsl(0, 0%, 100%);
  }
}
