.cont_sofa {
  background-color: hsl(56, 93%, 83%);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 20px;
  overflow: auto;
}
