$fs20: 20px;

@mixin textcenter {
  font-weight: bold;
  text-align: center;
}
@mixin flex {
}
.cart {
  min-height: 100vh;
}
.h2 {
  @include textcenter;
  font-style: italic;
  font-size: $fs20;
  margin: 20px;
}
