@mixin fonts {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
@mixin fbetween {
  display: flex;
  justify-content: space-between;
}
@mixin fcolumn {
  display: flex;
  flex-direction: column;
}
@mixin textdecor {
  text-decoration: underline hsl(278, 65%, 58%);
}
@mixin active {
  color: hsl(180, 100%, 27%);
}
@mixin state_text {
  color: hsl(325, 86%, 71%);
}
$fz18: 18px;
.container {
  padding: 20px;
  @include fbetween;
  align-items: flex-start;
  min-height: 150px;
  background-color: hsl(56, 93%, 83%);
  border-radius: 20px;
  & div {
    @include state_text;
  }
}
.title {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  padding-top: 15px;
}
.active_main {
  @include active;
}
.active_catalog {
  @include active;
}
.active_shopcart {
  @include active;
}
.ul {
  @include fbetween;
  & li {
    @include fonts;
    padding: 20px 60px;
    font-size: 18px;
  }
  .catalog:hover {
    @include textdecor;
  }
  .aproject:hover {
    @include textdecor;
  }
  .contacts:hover {
    @include textdecor;
  }
}

.connection {
  text-align: center;
  border-radius: 10px;
  &:hover {
    @include textdecor;
  }
}
.tel {
  @include fonts;
  font-size: $fz18;
}
.call {
  font-size: 17px;
  margin-left: 5px;
}
