@mixin fonts {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
@mixin fbetween {
  display: flex;
  justify-content: center;
}
@mixin fcolumn {
  display: flex;
  flex-direction: column;
}
@mixin textdecor {
  text-decoration: underline hsl(278, 65%, 58%);
}
$fz18: 18px;

.container {
  @include fbetween;
  align-items: center;
  text-align: center;
  background-color: hsl(201, 52%, 58%);
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
.ul {
  @include fbetween;
  & li {
    @include fonts;
    padding: 30px 60px;
    font-size: 15px;
  }
  &:hover > li {
    @include textdecor;
  }
}
.connection {
  text-align: center;
  border-radius: 10px;
  &:hover {
    @include textdecor;
  }
}
.tel {
  @include fonts;
  font-size: $fz18;
}
.call {
  font-size: 15px;
  margin-left: 5px;
}
