.text {
  font-style: italic;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 80px 0;

  .active_catalog {
    text-decoration: none;
    color: aquamarine;
  }
}
